[Unit]

Description=Gunicorn Daemon for DogBreed

After=network.target



[Service]

Group=www-data

WorkingDirectory=/root/DogBreed-CNN

ExecStart=/usr/bin/gunicorn -c confs/gunicorn_conf.py server:dogbreed



[Install]

WantedBy=multi-user.target